<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>

    <div class="container">


            <!-- carousel insertion -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/images/a.png" class="d-block w-100 d-flex justify-content-center" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../static/images/b.jpg" class="d-block w-100 d-flex justify-content-center" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../static/images/c.jpeg" class="d-block w-100 d-flex justify-content-center" alt="...">
                  </div>



              </div>
            </div>
            <h2>Get ahead of your customer churn with our customer churn prediction app</h2>
            <h3>Our key features:</h3>

              <ul>
                <li>Store each prediction: The app could store each prediction in a database, along with the customer's  relevant information. This would allow businesses to track customer churn over time and to identify trends.</li>
                <li>View every prediction: Businesses should be able to view every prediction that has been made by the app. This would allow them to see which customers are at risk of churning and to take steps to prevent them from leaving.</li>
                <li>Total prediction: The app could also calculate the total number of predictions that have been made. This would give businesses an idea of how many customers are at risk of churning.</li>
                <li>Number of customers who will churn: The app could also calculate the number of customers who are predicted to churn in the next month, quarter, or year. This would give businesses an idea of how many customers they could lose in the future.</li>
                <li>Add new customer for prediction: The app could also allow businesses to add new customers to the database. This would allow businesses to track customer churn from the moment they become a customer.</li>
              </ul>
              <div id="one">
              <form action="/loginpage">
                <button>Try Now</button>
              </form>
                 </div>
          </div>





      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



        </div>
    </div>
</body>
</html>
